h3{
    text-align: right;
    margin-top: 20px;
}
.articelPageTitle{
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-top: 20px;
    flex-direction: row-reverse;
}
.articelPage{
    text-align: center;
}
img{
    margin-top: 40px;
    border-radius: 30px;
}
p{
    margin-top: 50px;
    margin-bottom: 50px;
}